body {
  background-color: #2b2d42;
  padding: 10px;
  color: #2b2d42;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: 300px 1fr;
  height: calc(100vh - 20px);
  gap: 10px;
}

::placeholder {
  color: #2b2d42;
}

p,
h3 {
  padding: 0;
  margin: 0;
}

/* Sidebar Section */

.sidebar {
  display: grid;
  grid-template-rows: 70px 40px 1fr;
  background-color: #f6f7eb;
  padding: 15px;
  border-radius: 25px;
}

.lists-header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

.new-list-input {
  border: 0;
  background: none;
  border-bottom: 1px solid #e94f37;
  margin-left: 5px;
  font-size: inherit;
  outline: none;
  transition: border-bottom 250ms ease-in;
}

.new-list-input:focus {
  border-bottom-width: 3px;
}

.new-list-btn {
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

.list-creator {
  margin-bottom: 10px;
}

.all-lists {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

.list-item {
  display: grid;
  grid-template-columns: 220px 20px 20px;
  background-color: #8d99ae12;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

.list-item:hover {
  background-color: #e94f373a;
  cursor: pointer;
  transition: background-color 250ms ease-in;
}

.list-item:hover .delete-list {
  display: flex;
}

.list-name {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-self: center;
  list-style: none;
  margin-left: 5px;
  margin-right: -5px;
}

.delete-list {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b2d42;
  height: 20px;
  width: 20px;
  margin: 0;
  font-size: 15px;
  margin-left: 5px;
  display: none;
}

.delete-list:hover {
  cursor: pointer;
}

.active-list {
  font-weight: 700;
  background-color: #e94f37;
}

.active-task-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  margin: 0;
  width: 10px;
  font-size: 15px;
  background-color: #8d99ae;
  padding: 5px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid gray;
}

.due-date {
  font-size: 10px;
}

.delete-list-pic {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  margin-top: 2px;
}

/* Main Content Section */

.main-content {
  background-color: #8d99ae;
  border-radius: 25px;
  display: grid;
  padding: 15px;
  grid-template-rows: 70px 100px 1fr;
}

.todo-header {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 800;
}

.task-list-container {
  background-color: #f6f7eb;
  display: grid;
  grid-template-rows: 70px 1fr;
  border-radius: 25px;
  padding: 10px;
}

.task-tracker {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.total-tasks,
.active-tasks,
.completed-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2b2d42;
  border-radius: 25px;
  color: #f6f7eb;
}

.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  align-items: left;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  height: 100%;
}

.list-title,
.task-count {
  padding: 0;
  margin: 0;
}

.list-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 99%;
  overflow-x: scroll;
}

.task-count {
  font-size: 15px;
}

.tasks {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 5px;
}

.task {
  font-size: 18px;
}

.task-item {
  display: grid;
  grid-template-columns: 40px 1fr 60px 70px;
}

.task-item:hover {
  background-color: #8d99ae45;
  border-radius: 5px;
  cursor: pointer;
}

.task-description {
  font-size: 10px;
}

.priority {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-priority {
  font-size: 10px;
  padding: 5px;
  border-radius: 25px;
  font-weight: 700;
  display: none;
}

.task-priority.medium {
  background-color: #ffd900a5;
  display: flex;
}

.task-priority.low {
  background-color: #8d99ae74;
  display: flex;
}

.task-priority.high {
  background-color: #e94f37;
  display: flex;
}

.new-task-creator {
  border: none;
  background: none;
  border-bottom: 1px solid #2b2d42;
  margin-left: 5px;
}

.new-task-btn {
  background: none;
  border: none;
}

.task-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.task-item:has(input[type="checkbox"]:checked) {
  text-decoration: line-through;
  opacity: 0.6;
  background-color: #8d99ae25;
  transition: text-decoration 0.1s ease;
  color: #999;
}

.task-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}

.delete-task,
.edit-task {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.delete-task:hover,
.edit-task:hover {
  cursor: pointer;
}

.action-pic {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.action-pic:hover {
  background-color: #8d99ae45;
  border-radius: 5px;
}

.new-task-btn,
.new-list-btn {
  background-color: #e94f37;
  color: #f6f7eb;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.new-task-btn {
  margin-left: 5px;
}

.add-task-btn,
.add-list-btn {
  cursor: pointer;
  font-size: 25px;
  margin: 0;
  padding: 0;
  font-weight: 200;
}

.task-creator,
.list-creator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
  color: #e94f37;
  font-size: 15px;
}

/* Add Task Pop Up */
.popup-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.hidden {
  display: none !important;
}

.popup-container {
  position: fixed;
  max-width: 500px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-self: center;
  justify-self: center;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3 ease;
}

.popup-header {
  margin: 0;
  padding: 0;
}

.popup-content {
  position: relative;
  background-color: #f6f7eb;
  padding: 15px;
  border-radius: 25px;
  width: 450px;
  height: 150px;
  border: 2px solid #2b2d42;
  display: grid;
  grid-template-rows: 1fr;
  gap: 5px;
}

.popup-inputs {
  display: flex;
  flex-direction: column;
}

#popup-task-description,
#popup-task-input,
.popup-list-input {
  background: none;
  border: none;
  outline: none;
  opacity: 0.4;
}

#popup-task-description:focus,
#popup-task-input:focus,
.popup-list-input:focus {
  opacity: 1;
}

#popup-task-input,
.popup-list-input {
  font-size: 25px;
  font-weight: 500;
}

.list-form {
  display: grid;
  grid-template-rows: 2fr 30px;
}

.popup-list-input {
  width: 100%;
  display: flex;
  justify-content: left;
}

#popup-priority-select,
#popup-date-due {
  background-color: #f6f7eb;
  font-size: 15px;
  font-weight: 500;
  font: inherit;
  border: none;
  height: 100%;
  outline: none;
}

.due-date-container {
  display: flex;
  flex-direction: column;
  justify-self: top;
  border-radius: 15px;
  margin-bottom: 10px;
}

#popup-priority-select {
  height: 27px;
  border-bottom: 1px solid #2b2d42;
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
}

#popup-date-due {
  padding: 5px;
  border-bottom: 1px solid #2b2d42;
  width: 200px;
}

.due-date-header,
.prio-header {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 2px;
}

.popup-priority-container {
  display: flex;
  flex-direction: column;
}

.popup-date-prio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 15px;
}

.popup-buttons {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 10px;
  max-width: 100%;
}
.popup-add-list-btn,
.popup-cancel-btn,
.popup-add-task-btn {
  background-color: #2b2d42;
  color: #f6f7eb;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 5px;
  border-radius: 25px;
  width: 200px;
  max-height: 50px;
}
